<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2016年，计算机科学与技术专业本科毕业。</p>
        

       <!-- <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹馍:)
       </p>

       <p align="center">
         <img src="" />
         <br/> 
         微信扫一扫
       </p> -->

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>